html{
    font-size:62.5%;
    line-height:1.6rem;
    font-family:'Roboto',sans-serif;
    box-sizing: border-box;
}
.grid{
    width:1200px;
    max-width:100%;

}
:root{
    --primary-color:#ee4d2d;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
}